* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #caf0f8;
    height: 1024;
    width: 1440;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.contenedor01 {
    background-color: #525e75;
    border: 1px solid #000;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 60%);
    border-radius: 15px;
    color: #fff;
    height: 500px;
    min-width: 360px;
    width: 35%;
    padding: 10px;
}

h1 {
    color: #03045e;
    padding: 10px;
    text-align: center;
}

label {
    margin: 0px 20px 20 20px;
    text-align: center;
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

input:hover {
    border: #6495ed;
}

.btn {
    display: flex;
    flex-direction: column;
}

.btn-fc {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.btn-sc {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

button {
    font-weight: bolder;
    background-color: #6495ed;
    border: 1px solid #1c0a00;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: 30%;
}

#btn-limpiar {
    align-self: center;
}

button:focus {
    background-color: #205375;
    color: #362707d8;
}

button:hover {
    background-color: #001d6e;
    color: #766161;
}

hr {
    border: 1px solid #1c0a00;
    margin: 15px;
}

.contenedor02 {
    background-color: #525e75;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 60%);
    height: 500px;
    min-width: 360px;
    width: 35%;
    padding: 7px;
}

.ver-tabla {
    align-self: center;
}

.cont-tab {
    align-self: center;
    background-color: #361500;
    width: 253.9px;
    border-radius: 3px;
    color: #fff;
}

th {
    background-color: #2f4f4f;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

td {
    background-color: #008080;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

footer {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}